@model Mvc4App1.Models.Interview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Interview</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Questions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Questions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
